@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-action="Index" method="post">
    <div class="form-group">
        <label for="gebruikersNaam">Gebruikersnaam</label>
        <input type="text" name="gebruikersNaam" id="gebruikersNaam" class="form-control" />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="wachtWoord">Wachtwoord</label>
        <input type="password" name="wachtWoord" id="wachtWoord" class="form-control" />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>
</form>
