@model Mvc_Project.Models.Gebruiker

@{
    ViewData["Title"] = "Create";
}

<h1>Aanmaken</h1>

<h4>Gebruiker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voornaam" class="control-label"></label>
                <input asp-for="Voornaam" class="form-control" />
                <span asp-validation-for="Voornaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Initialen" class="control-label"></label>
                <input asp-for="Initialen" class="form-control" />
                <span asp-validation-for="Initialen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GebruikersNaam" class="control-label"></label>
                <input asp-for="GebruikersNaam" class="form-control" />
                <span asp-validation-for="GebruikersNaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wachtwoord" class="control-label"></label>
                <input asp-for="Wachtwoord" class="form-control" />
                <span asp-validation-for="Wachtwoord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rol" class="control-label"></label>
                <select asp-for="Rol" class="form-control">
                    <option value="">Selecteer een rol</option>
                    @foreach (var rol in Enum.GetValues(typeof(Gebruiker.GebruikersRol)))
                    {
                        <option value="@rol">@rol</option>
                    }
                </select>
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug naar lijst</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
