@model Mvc_Project.Models.Bijlagen

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bijlagen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AankoopId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AankoopId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BijlagenId">Edit</a> |
    <a asp-action="Index">Terug naar lijst</a>
</div>
