@model Mvc_Project.Models.Aankoop
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>Aankoop</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Selecteer een gebruiker</label>
                <select class="form-control">
                    <option value="">Kies een gebruiker</option>
                    @foreach (var gebruiker in (SelectList)ViewBag.Gebruikers)
                    {
                        <option value="@gebruiker.Value">@gebruiker.Text</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reden" class="control-label"></label>
                <input asp-for="Reden" class="form-control" />
                <span asp-validation-for="Reden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Selecteer een vak</label>
                <select asp-for="VakId" class="form-control" asp-items="ViewBag.Vakken">
                    <option value="">Kies een vak</option>
                </select>
                <span asp-validation-for="VakId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProductId" class="control-label">Selecteer een product</label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.Producten">
                    <option value="">Kies een product</option>
                </select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div>
                <a asp-controller="Producten" asp-action="Create">Maak een nieuw product aan</a>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (HttpContextAccessor.HttpContext.Session.GetString("Rol") == "Beheerder" ||
    HttpContextAccessor.HttpContext.Session.GetString("Rol") == "Directie" ||
   HttpContextAccessor.HttpContext.Session.GetString("Rol") == "Boekhouder")
{
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
