<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mvc_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mvc_Project.styles.css" asp-append-version="true" />
</head>
@inject IHttpContextAccessor HttpContextAccessor


    <body>
    @if(!(ViewData["HideNavBar"] as bool? ?? false))
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Mvc_Project</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a>
                            </li>
                            @if (HttpContextAccessor.HttpContext.Session.GetString("Rol") == "Beheerder" ||
                           HttpContextAccessor.HttpContext.Session.GetString("Rol") == "Directie" ||
                           HttpContextAccessor.HttpContext.Session.GetString("Rol") == "Boekhouder")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Aankoop" asp-action="Index">Archief</a>
                                </li>
                            }
                            @if (HttpContextAccessor.HttpContext.Session.GetString("Rol") == "Beheerder")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Gebruiker" asp-action="Index">Gebruikers</a>
                                </li>
                            }
                            @if (HttpContextAccessor.HttpContext.Session.GetString("Rol") == "Beheerder" ||
                           HttpContextAccessor.HttpContext.Session.GetString("Rol") == "Directie")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Vakken" asp-action="Index">Vakken</a>
                                </li>
                            }

                            @if (HttpContextAccessor.HttpContext.Session.GetString("Rol") == "Beheerder" ||
                           HttpContextAccessor.HttpContext.Session.GetString("Rol") == "Directie")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Producten" asp-action="Index">Producten</a>
                                </li>
                            }

                            
                        </ul>
                        <ul class="navbar-nav">
                            @if (HttpContextAccessor.HttpContext.Session.GetString("GebruikersNaam") != null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">Welkome, @HttpContextAccessor.HttpContext.Session.GetString("GebruikersNaam")</a>
                                </li>
                                <li class="nav-item">
                                    <form asp-controller="Login" asp-action="Logout" method="post">
                                        <button type="submit" class="btn btn-link nav-link text-white">Logout</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="@Url.Action("Login", "Account")">Login</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - Mvc_Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>


</html>
